.stats-container :first-child.stats-grid::before{
    content: "\1F525";
    display: block;
    font-size: 2rem;
    text-align: center;

}

.stats-container .stats-grid:nth-child(3){
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.stats-grid:nth-child(3) .stat-number,.stat-label{
    color: white;
}
